@import '../../sass/abstract/variable';
@import '../../sass/abstract/mixin';
@import '../../sass/abstract/animation';

.buttonFree,
.buttonPremium {
  text-transform: uppercase;
  margin-top: 2.2rem;
  padding: 1.6rem 3.2rem;
  font-size: 1.6rem;
  outline: none;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  letter-spacing: 0.4px;
  transition: all 0.4s ease-out;

  @include respond(mid) {
    padding: 1.6rem 3rem;
  }

  @include respond(phone) {
    padding: 1.6rem 2.8rem;
  }

  @include respond(smallest) {
    padding: 1.4rem 2.6rem;
  }
}

.buttonFree {
  background-color: #000;
  color: #fd7951;
  border: 2px solid #fd7951;
  margin-right: 2rem;
  -webkit-animation: fade-in-fwd 1.5s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
  animation: fade-in-fwd 1.5s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;

  &:hover {
    color: #ed80c2;
    border: 2px solid #ed80c2;
  }
}

.buttonPremium {
  background-color: transparent;
  color: #3ee8ad;
  border: 2px solid #3ee8ad;
  -webkit-animation: fade-in-bck 1.5s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
  animation: fade-in-bck 1.5s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;

  &:hover {
    color: #19f6e8;
    border: 2px solid #19f6e8;
  }
}