@import '../abstract/variable';
@import '../abstract/mixin';

.container {
  font-family: 'Quicksand', sans-serif;
  background-color: #f0f3fa;
  color: #4c5172;
  display: grid;
  grid-template-rows: repeat(4, min-content) 10rem;
  grid-template-columns: [sidebar-start] 22rem [sidebar-end full-start] 5rem [center-start] repeat(2, [col-start] 1fr [col-end]) [center-end] 5rem [full-end];
}

.header {
  height: 50vh;
  grid-column: full-start / full-end;
  background-image: url(../../img/headphones.jpg);
  background-size: cover;
  background-position: center center;
}