@import '../../sass/abstract/variable';
@import '../../sass/abstract/mixin';

.genres {
  grid-column: col-start 2 / center-end;
  margin-top: -8rem;

  @include respond(tab-port) {
    margin-top: -4rem;
  }

  @include respond(mid) {
    margin-top: -3rem;
  }

  @include respond(phone) {
    grid-column: center-start / center-end;
    margin-top: 1rem;
    padding-bottom: 2rem;
  }

  &__typo {
    display: flex;
    align-items: center;
    margin-bottom: 1.8rem;

    @include respond(phone) {
      margin-bottom: 2.5rem;
    }
  }

  &__heading {
    font-size: 2.4rem;
    font-weight: 600;
    margin-right: auto;
  }

  &__seeall {

    &:link,
    &:visited {
      font-weight: 600;
      text-decoration: none;
      font-size: 1.4rem;
      padding-bottom: 0.2rem;
      color: inherit;
      border-bottom: 1.5px solid transparent;
      transition: all 0.2s linear;
    }

    &:hover {
      border-bottom: 1.5px solid currentColor;
      transform: scale(1.02);
    }

    &:active {
      transform: scale(1.02) translateY(2px);
    }
  }

  &__container {
    display: flex;
    flex-flow: row wrap;
    align-items: center;

    @include respond(tab-port) {
      flex-flow: row wrap;
    }
  }

  figure {
    cursor: pointer;
    margin-left: 3%;
    flex: 0 1 29.33%;
    height: 12.6rem;
    margin-bottom: 2rem;
    border-radius: 2rem;
    overflow: hidden;
    position: relative;
    box-shadow: 0 1rem 2rem rgba(#000, 0.20);

    @include respond(tab-port) {
      margin-left: 2%;
      flex: 0 1 47%;
      margin-bottom: 1rem;
    }

    @include respond(phone) {
      height: 13.6rem;
      margin-left: 4%;
      flex: 0 1 44%;
      margin-bottom: 2rem;
    }
  }

  &__image {
    height: 100%;
    width: 100%;
    filter: brightness(80%);
    transform: scale(1.12);
    transition: all 0.5s ease-out;
  }

  &__typeholder {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(#fff, 0.75);
    color: #000;
    z-index: 20;
    padding: 2rem 3rem;
    border-radius: 2rem;
    transition: all 0.5s ease-out;

    @include respond(tab-port) {
      padding: 1.5rem 2rem;
    }
  }

  &__type {
    font-size: 1.4rem;
    font-weight: 600;
  }

  figure:hover &__typeholder {
    transform: translate(-50%, -50%) scale(1.06);
    background-color: rgba(#fff, 0.90);

  }

  figure:hover &__image {
    transform: scale(1);
  }
}