@import '../../sass/abstract/variable';
@import '../../sass/abstract/mixin';

.navigation__toggle {
  display: none;
  position: fixed;
  top: 7%;
  right: 7%;
  height: 7.5rem;
  width: 7.5rem;
  background: #d4003e;
  border-radius: 50%;
  z-index: 300;
  cursor: pointer;

  @include respond(phone) {
    display: block;
  }
}

.navigation__icon_menu {
  position: relative;
  margin-top: 3.5rem;
  left: 50%;
  transform: translateX(-50%);

  &,
  &::before,
  &::after {
    width: 3rem;
    height: 3.2px;
    background-color: #fff;
    display: inline-block;
    border-radius: 2px;
  }

  &::before,
  &::after {
    content: "";
    position: absolute;
    left: 0;
    transition: all 0.2s ease-out;
  }

  &::before {
    top: -0.8rem;
  }

  &::after {
    top: 0.8rem;
  }
}

.navigation__icon_close {
  position: relative;
  margin-top: 3.5rem;
  left: 50%;
  transform: translateX(-50%);

  &,
  &::before,
  &::after {
    width: 3rem;
    height: 3.2px;
    background-color: #fff;
    display: inline-block;
    border-radius: 2px;
  }

  & {
    background-color: transparent;
  }

  &::before,
  &::after {
    content: "";
    position: absolute;
    left: 0;
    transition: all 0.2s ease-out;
  }

  &::before {
    top: 0;
    transform: rotate(135deg);
  }

  &::after {
    top: 0;
    transform: rotate(-135deg);
  }
}

.navigation__bar {
  padding: 1rem 0;
  background-color: rgba($color-primary-dark, 0.8);
  justify-content: space-between;
  align-items: center;
  position: fixed;
  left: 0;
  right: 0;
  z-index: 200;

  @include respond(big-desktop) {
    display: flex;
  }

  @include respond(phone) {
    display: none;
  }

  &__active {
    display: flex;

    @include respond(phone) {
      height: 100vh;
      width: 30%;
      left: 70%;
      flex-flow: column;
      justify-content: space-evenly;
    }
  }
}

.logo {
  display: flex;
  align-items: center;
  margin-left: 12%;
  cursor: pointer;

  @include respond(tab-land) {
    margin-left: 7%;
  }

  @include respond(tab-port) {
    margin-left: 9%;
  }

  @include respond(phone) {
    margin: 0;
    margin-top: 50%;
  }

  @include respond(smallest) {
    flex-flow: column;
  }

  &__image {
    display: inline-block;
    height: 6rem;
    margin-right: 0.8rem;

    @include respond(phone) {
      height: 7rem;
    }

    @include respond(smallest) {
      margin-bottom: 1.2rem;
    }
  }

  &__name {
    font-size: 2rem;
    font-weight: 400;

    @include respond(phone) {
      font-size: 2.4rem;
    }
  }
}

.navigation {
  @include respond(min-big-desktop) {
    float: right;
  }

  @include respond(big-desktop) {
    font-size: 1.9rem;
    font-weight: 400;
    margin-right: 13.6rem;
  }

  @include respond(tab-port) {
    margin-right: 7.5rem;
  }

  @include respond(phone) {
    margin-right: 0;
    margin-top: -2rem;
  }

  &__list {
    list-style: none;
    display: flex;
    align-items: center;
    margin-top: 0.2rem;

    @include respond(min-big-desktop) {
      font-size: 1.9rem;
      margin-top: -6rem;
      margin-right: 10rem;
    }

    @include respond(phone) {
      display: block;
      flex-flow: column;
    }
  }

  &__item {
    cursor: pointer;
    padding: 1.2rem 0;
    border-bottom: 1.5px solid transparent;
    transition: all 0.2s ease-out;

    @include respond(phone) {
      padding: 1rem 0 0 0;
      width: 100%;
    }

    &:not(:last-child) {
      margin-right: 4rem;

      @include respond(phone) {
        margin: 0;
      }
    }

    &::after {
      content: "";
      display: block;
      height: 2px;
      background-color: #ff0c0c;
      width: 0%;
      margin: 0 auto;
      margin-top: 1.2rem;
      transition: all 0.3s ease-out;

      @include respond(phone) {
        height: 2px;
      }
    }

    &:hover {
      color: #ff0c0c;

      @include respond(phone) {
        color: #fff;
      }

      &::after {
        width: 100%;
      }
    }
  }

  &__link {
    text-decoration: none;
    color: inherit;
  }
}