@import '../../sass/abstract/mixin';
@import '../../sass/abstract/animation';

.list {
  padding-top: 2.5rem;

  @include respond(tab-port) {
    padding: 0;
  }

  @include respond(phone) {
    text-align: center;
  }

  &__heading {
    font-size: 4.6rem;
    font-weight: 400;
    text-transform: capitalize;
    margin-top: 0.5rem;
    margin-bottom: 3rem;

    &__animated {
      -webkit-animation: puff-in-ver 0.7s cubic-bezier(0.470, 0.000, 0.745, 0.715) both;
      animation: puff-in-ver 0.7s cubic-bezier(0.470, 0.000, 0.745, 0.715) both;
    }

    @include respond(tab-port) {
      font-size: 4.4rem;
      margin: 0;
    }

    @include respond(mid) {
      font-size: 4.2rem;
      margin: 1rem 0;
    }

    @include respond(phone) {
      margin-top: 4rem;
    }
  }

  &__title {
    font-size: 3rem;
    font-weight: 400;
    margin: 1.9rem 0;

    &__animated {
      -webkit-animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
      animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
    }

    @include respond(tab-port) {
      margin: 1.2rem 0;
    }

    @include respond(phone) {
      margin: 2.5rem 0;
    }
  }

  &__description {
    font-family: 'Oxygen', sans-serif;
    font-size: 1.8rem;
    width: 95%;

    &__animated {
      -webkit-animation: text-focus-in 0.7s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
      animation: text-focus-in 0.7s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
    }

    @include respond(phone) {
      width: 80%;
      margin-left: 10%;
    }
  }
}