@import '../abstract/mixin';

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;

  @include respond(tab-land) {
    font-size: 56.25%; // 1rem = 9px
  }

  @include respond(tab-port) {
    font-size: 50%; // 1rem = 8px
  }

  @include respond(smallest) {
    font-size: 43.75%; // 1rem = 7px
  }
}

body {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  overflow-x: hidden;
}

.row {
  max-width: 114rem;
  margin: 0 auto;

  @include respond(tab-port) {
    max-width: 102rem;
  }

  @include respond(mid) {
    max-width: 90rem;
  }
}

::selection {
  background-color: #666;
  color: #fff;
}