$color-primary-black: #141204;
$color-primary-dark: #1a2021;
$color-primary-light: #3C3C3C;

$color-green: #62c362;

$color-primary-white: #FDFFFC;
$color-primary-orange: #FF9000;

$color-background-blue: #0b1437;
$color-text-golden: #f1e8c5;

$color-main: #7c3ac4;

$color-default: #333a49;
$color-secondary: #4f5971;