@import '../../sass/abstract/variable';

.sidebar {
  background-color: #f7f7f7;
  position: fixed;
  height: 100%;
  min-width: 22rem;
  z-index: 20;

  display: flex;
  flex-flow: column;
  align-items: center;
}

.logo {
  display: flex;
  align-items: center;
  cursor: pointer;
  margin-top: 4rem;
  margin-bottom: 0.6rem;

  &__image {
    height: 5rem;
    margin-right: 0.8rem;
  }

  &__name {
    font-weight: 600;
    font-size: 2rem;
  }

  &__link {

    &:link,
    &:visited {
      text-decoration: none;
      color: inherit;
    }
  }
}

.recommend,
.library {
  margin-left: -1rem;
  padding: 2rem 0;

  &__heading {
    text-align: left;
    font-size: 2.2rem;
    font-weight: 600;
    text-transform: uppercase;
    color: #fa0000;
    margin-bottom: 1.6rem;
  }

  &__list {
    list-style: none;
  }

  &__item {
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: all 0.2s linear;

    &:not(:last-child) {
      margin-bottom: 1.4rem;
    }

    &__active {
      color: $color-main;
    }

    &:hover {
      color: $color-main;
      transform: scale(1.08) translateY(-2px);
    }

    &:active {
      transform: scale(1.08) translateY(2px);
    }
  }

  &__icon {
    font-size: 2.1rem;
    margin-right: 1rem;
  }

  &__text {
    font-size: 1.6rem;
  }
}

.copy__text {
  position: absolute;
  text-transform: capitalize;
  font-size: 1.6rem;
  width: 80%;
  font-weight: 600;
  text-align: center;
  bottom: 10rem;
}