@import '../../sass/abstract/variable';
@import '../../sass/abstract/mixin';

.topcharts {
  grid-column: center-start / col-end 1;
  grid-row: 3 / 5;
  padding-bottom: 4rem;

  @include respond(tab-port) {
    padding-bottom: 6rem;
  }

  @include respond(phone) {
    grid-row: 5 / 7;
    grid-column: center-start / center-end;
    padding-bottom: 4rem;
  }

  @include respond(tiny) {
    padding-bottom: 10rem;
  }

  &__heading {
    font-size: 2.4rem;
    font-weight: 600;
    margin-bottom: 2rem;
  }
}

.songs__collection {
  display: flex;
  flex-flow: column;
}

.wrapper {
  text-transform: capitalize;
  letter-spacing: 0.6px;
  display: flex;
  flex-flow: column;
  cursor: pointer;
  border: 1px solid #4c5172;
  border-radius: 10px;
  padding: 1rem 0 1rem 4rem;
  width: 90%;
  position: relative;

  @include respond(mid) {
    width: 95%;
    padding: 1rem 0 1rem 3rem;
  }

  @include respond(phone) {
    width: 100%;
    padding: 1.2rem 0 1.2rem 3rem;
  }

  &:not(:last-child) {
    margin-bottom: 1rem;

    @include respond(tab-port) {
      margin-bottom: 1.5rem;
    }
  }

  &:hover {
    background-color: #bdcae9;
  }
}

.song__name {
  font-size: 1.7rem;
  font-weight: 600;
  margin-bottom: 0.2rem;
}

.song__artist {
  font-size: 1.4rem;
}

.song__icons {
  position: absolute;
  right: 3rem;
  top: 2rem;
  font-size: 1.8rem;

  @include respond(mid) {
    right: 2rem;
  }
}

.icon {
  &__love {
    margin-right: 0.5rem;

    &__active {
      color: #ff0c0c;
    }
  }

  &__check {
    color: green;
  }
}

.musicplayer {
  grid-row: 5 / 6;
}

.sDetails {
  position: absolute;
  top: 50%;
  left: 4rem;
  transform: translateY(-50%);

  @include respond(phone) {
    left: 3rem;
  }

  @include respond(tiny) {
    left: 50%;
    top: 30%;
    transform: translateX(-50%) translateY(-50%);
  }
}

.sName {
  font-size: 1.8rem;
  font-weight: 600;

  @include respond(tiny) {
    font-size: 2rem;
  }
}

.sArtist {
  font-size: 1.6rem;
  font-weight: 600;

  @include respond(tiny) {
    font-size: 1.8rem;
  }
}

.sPlayer {
  padding: 2rem 0;
  background-color: #ffcbb9;
  color: $color-default;
  position: fixed;
  bottom: 0;
  z-index: 30;
  width: 100%;
  font-weight: bold;

  @include respond(tiny) {
    height: 12rem;
  }
}