@import '../abstract/variable';

.header {
  height: 100vh;
  background-image: linear-gradient(to right bottom,
      rgba($color-primary-dark, 0.7),
      rgba($color-primary-dark, 0.7)),
    url(../../img/hero-image.jpg);
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  font-family: 'Quicksand', sans-serif;
  color: #fff;
  position: relative;
}

.mainWrapper {
  width: 114rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.headerText {
  font-size: 5.2rem;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.6px;
}

.sectionFeatures {
  padding: 7.5rem 0;
  background-color: #f8f8f8;
}

.sectionNew {
  padding: 12rem 0 10rem 0;
  background-color: #1a2021;
  color: #fff;
  font-family: 'Quicksand', sans-serif;

  &::after {
    content: "";
    display: table;
    clear: both;
  }
}

.sectionTestimonials {
  padding: 10rem 0 14rem 0;
  position: relative;
}

.testimonial__heading {
  font-family: 'Quicksand', sans-serif;
  font-weight: 500;
  font-size: 4.6rem;
  color: #2d3436;
  text-align: center;
  text-transform: uppercase;
}

.testimonial__readMore {

  &:link,
  &:visited {
    margin-top: 2rem;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    text-decoration: none;
    font-size: 1.7rem;
    color: #1a2021;
    transition: all 0.2s linear;
  }

  &:hover,
  &:active {
    border-bottom: 1px solid #1a2021;
    transform: translateX(-50%) translateY(-4px) scale(1.04);
  }
}

.sectionPlans {
  font-family: 'Quicksand', sans-serif;
  padding: 10rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f8f8f8;
}

.plans {
  &__heading {
    font-weight: 500;
    font-size: 4rem;
    text-transform: uppercase;
    color: #051014;
    margin-bottom: 2rem;
  }

  &__wrapper {
    margin-top: 4rem;
    display: flex;
  }

  &__box {
    position: relative;
    padding: 6rem 8rem 13rem 8rem;
    border-radius: 10px;
    background-color: #fff;
    color: #000;
    box-shadow: 0 2rem 3rem rgba(0, 0, 0, 0.20);

    &:not(:last-child) {
      margin-right: 5rem;
    }
  }

  &__title {
    color: #F13030;
    font-weight: 500;
    font-size: 2.7rem;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 0.6px;
    margin-bottom: 1.2rem;
  }

  &__price {
    color: #0C0A3E;
    font-size: 3.8rem;
    font-weight: 500;
    text-align: center;
    letter-spacing: 0.6px;

    span {
      font-size: 2rem;
    }

    &::after {
      content: "";
      display: block;
      height: 1.5px;
      width: 100%;
      background-color: currentColor;
      margin: 2rem 0;
    }
  }

  &__features {
    list-style: none;
  }

  &__featuresItem {
    padding: 1rem 0;
  }

  &__iconCheck,
  &__iconCross {
    font-size: 2rem;
    margin-right: 2.5rem;
  }

  &__iconCheck {
    color: #3aa22b;
  }

  &__iconCross {
    color: #F13030;
  }

  &__feature__title {
    font-size: 2rem;
    font-weight: 500;
    text-transform: capitalize;
  }

  &__buttonFree,
  &__buttonPremium {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 2.2rem;
    padding: 1.8rem 3.8rem;
    font-size: 1.7rem;
    text-transform: uppercase;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.3s linear;
    outline: none;
  }

  &__buttonFree {
    background-color: transparent;
    color: #f24747;
    border: 2px solid #f24747;

    &:hover {
      color: #3aa22b;
      border: 2px solid #3aa22b;
      transform: translateX(-50%) scale(1.05);
      box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.20);
    }

    &:active {
      transform: translateX(-50%) scale(1.05) translateY(6px);
    }
  }

  &__buttonPremium {
    background-color: #f24747;
    color: #f7f7f7;

    &:hover {
      background-color: #3aa22b;
      transform: translateX(-50%) scale(1.05);
      box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.20);
    }

    &:active {
      transform: translateX(-50%) scale(1.05) translateY(6px);
    }
  }
}