@import '../abstract/variable';
@import '../abstract/mixin';
@import '../abstract/animation';

.header {
  height: 100vh;
  background-image: linear-gradient(to right bottom,
      rgba($color-primary-dark, 0.7),
      rgba($color-primary-dark, 0.7)),
    url(../../img/hero-image.jpg);
  background-size: cover;
  // background-attachment: fixed;
  background-position: center;
  font-family: 'Quicksand', sans-serif;
  color: #fff;
  position: relative;

  &__buttons {
    display: flex;

    @include respond(smallest) {
      width: 84%;
      margin-left: 8%;
    }
  }
}

.mainWrapper {
  width: 114rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  @include respond(tab-land) {
    max-width: 90rem;
  }

  @include respond(mid) {
    max-width: 75rem;
  }

  @include respond(phone) {
    max-width: 60rem;
  }

  @include respond(smallest) {
    max-width: 50rem;
  }
}

.headerText {
  font-size: 5.2rem;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.6px;

  @include respond(tab-land) {
    font-size: 4.8rem;
  }

  @include respond(mid) {
    font-size: 4.4rem;
  }

  @include respond(phone) {
    font-size: 3.8rem;
  }

  @include respond(smallest) {
    margin-left: 8%;
  }

  &__main {
    display: block;
    -webkit-animation: slide-in-left 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: slide-in-left 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  }

  &__sub {
    display: block;
    -webkit-animation: slide-in-right 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: slide-in-right 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  }
}

.sectionFeatures {
  padding: 7.5rem 0;
  background-color: #f8f8f8;

  @include respond(tab-port) {
    padding: 7rem 0 5.5rem 0;
  }

  @include respond(smallest) {
    padding: 6rem 0 5rem 0;
  }
}

.sectionNew {
  padding: 12rem 0 10rem 0;
  background-color: #1a2021;
  color: #fff;
  font-family: 'Quicksand', sans-serif;

  @include respond(tab-port) {
    padding: 12rem 0;
  }

  @include respond(mid) {
    padding: 10rem 0;
  }

  @include respond(smallest) {
    padding: 9rem 0;
  }

  &::after {
    content: "";
    display: table;
    clear: both;
  }
}

.sectionTestimonials {
  padding: 10rem 0 14rem 0;
  position: relative;

  @include respond(tab-port) {
    padding: 7rem 0 10rem 0;
  }

  @include respond(smallest) {
    padding: 6rem 0 9rem 0;
  }
}

.testimonial__heading {
  font-family: 'Quicksand', sans-serif;
  font-weight: 500;
  font-size: 4.6rem;
  color: #2d3436;
  text-align: center;
  text-transform: uppercase;

  &__animated {
    -webkit-animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
    animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
  }

  @include respond(tab-port) {
    font-size: 4.3rem;
  }

  @include respond(phone) {
    font-size: 3.8rem;
  }

  @include respond(smallest) {
    margin-right: auto;
    margin-left: auto;
    font-size: 3.6rem;
    width: 90%;
  }
}

.testimonial__readMore {

  &:link,
  &:visited {
    margin-top: 2rem;
    position: absolute;
    left: 50%;
    transform: translateX(-50%) scale(1);
    text-decoration: none;
    font-size: 1.7rem;
    color: #1a2021;
    transition: all 0.2s linear;

    @include respond(tab-port) {
      margin-top: 0;
    }
  }

  &:hover,
  &:active {
    border-bottom: 1px solid #1a2021;
  }

  &__animated {
    -webkit-animation: heartbeat 1.5s ease-in-out infinite both;
    animation: heartbeat 1.5s ease-in-out infinite both;
  }
}

.sectionPlans {
  font-family: 'Quicksand', sans-serif;
  padding: 10rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f8f8f8;

  @include respond(tab-port) {
    padding: 7rem 0 10rem 0;
  }

  @include respond(smallest) {
    padding: 5.5rem 0 9rem 0;
  }
}

.plans {
  &__heading {
    font-weight: 500;
    font-size: 4.3rem;
    text-transform: uppercase;
    text-align: center;
    color: #051014;
    margin-bottom: 2rem;

    &__animated {
      -webkit-animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
      animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
    }

    @include respond(tab-port) {
      font-size: 3.9rem;
    }

    @include respond(smallest) {
      font-size: 3.6rem;
      width: 80%;
      margin-bottom: 1.5rem;
    }
  }

  &__wrapper {
    margin-top: 4rem;
    display: flex;

    @include respond(phone) {
      flex-flow: column;
    }
  }
}

.sectionCTA {
  padding: 10rem 0 18rem 0;
  font-family: 'Quicksand', sans-serif;
  background-color: #1a2021;
  color: #fff;

  @include respond(tab-port) {
    padding: 8rem 0 10rem 0;
  }

  @include respond(mid) {
    padding: 8rem 0;
  }

  @include respond(phone) {
    padding: 7rem 0 9rem 0;
  }

  @include respond(smallest) {
    padding: 5.5rem 0 8rem 0;
  }
}

.divCTA.row {
  display: flex;
  flex-flow: row nowrap;
  position: relative;
}

.sectionGetStarted {
  padding: 6rem 0 14rem 0;
  font-family: 'Quicksand', sans-serif;
  position: relative;
  background-image: linear-gradient(to right bottom,
      rgba($color-primary-dark, 0.6),
      rgba($color-primary-dark, 0.6)),
    url(../../img/form-bg-image.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  // background-attachment: fixed;
  background-position: center;
  backface-visibility: hidden;

  @include respond(tab-port) {
    padding: 6rem 0 14rem 0;
  }

  @include respond(smallest) {
    padding: 5rem 0 12rem 0;
  }
}

.formHeading {
  color: #fff;
  font-size: 4.3rem;
  font-weight: 500;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.6px;
  margin-bottom: 4.8rem;

  &__animated {
    -webkit-animation: bounce-in-top 1s both;
    animation: bounce-in-top 1s both;
  }

  @include respond(phone) {
    font-size: 3.8rem;
  }

  @include respond(smallest) {
    margin-right: auto;
    margin-left: auto;
    font-size: 3.6rem;
    width: 90%;
  }
}