@import '../../sass/abstract/variable';
@import '../../sass/abstract/mixin';

.topartists {
  max-height: 8rem;
  grid-column: col-start 2 / center-end;
  margin-bottom: 3rem;

  @include respond(phone) {
    grid-column: center-start / center-end;
  }

  @include respond(tab-port) {
    max-height: 12rem;
    margin-bottom: 6rem;
  }

  &__typo {
    display: flex;
    align-items: center;
    margin-bottom: 2rem;

    @include respond(phone) {
      margin-bottom: 2rem;
    }
  }

  &__heading {
    font-size: 2.4rem;
    font-weight: 600;
    margin-right: auto;
  }

  &__seeall {

    &:link,
    &:visited {
      font-weight: 600;
      text-decoration: none;
      font-size: 1.4rem;
      padding-bottom: 0.2rem;
      color: inherit;
      border-bottom: 1.5px solid transparent;
      transition: all 0.2s linear;
    }

    &:hover {
      border-bottom: 1.5px solid currentColor;
      transform: scale(1.02);
    }

    &:active {
      transform: scale(1.02) translateY(2px);
    }

  }

  &__imagecontainer {
    display: flex;
    justify-content: center;
    flex-flow: row wrap;

    @include respond(tab-port) {
      margin-bottom: 2rem;
    }
  }

  figure {
    cursor: pointer;
    position: relative;
    transition: all 0.2s ease-out;
    height: 7.5rem;
    width: 7.5rem;
    border-radius: 10rem;
    box-shadow: 0.4rem 0.5rem 1rem rgba(#000, 0.24);
    overflow: hidden;

    @include respond(tab-port) {
      height: 6.5rem;
      width: 6.5rem;
    }

    @include respond(phone) {
      height: 7.5rem;
      width: 7.5rem;
    }

    @include respond(smallest) {
      height: 6rem;
      width: 6rem;
    }

    &:not(:last-child) {
      margin-right: 2%;

      @include respond(phone) {
        margin-right: 3%;
      }
    }

    &:hover img {
      transform: scale(1);
      filter: blur(2px) brightness(80%);
    }

    &:hover figcaption {
      opacity: 1;
      transform: translate(-50%, -50%);
    }
  }

  &__image {
    height: 100%;
    transform: scale(1.08);
    backface-visibility: hidden;
    transition: all 0.5s ease-out;
  }

  &__name {
    font-family: 'Roboto', sans-serif;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 0%);
    color: #fff;
    text-transform: uppercase;
    font-size: 1.1rem;
    letter-spacing: 0.6px;
    text-align: center;
    opacity: 0;
    backface-visibility: hidden;
    transition: all 0.5s ease-out;
  }
}